# [ GIT SUBMODULES ]
# to add more submodules, use this command:
# 	git submodule add <github repo/other source> [-b <name of repo branch>] components/<name of folder>
#
# to remove submodules, use this command:
#	git submodule remove <name of folder>
[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp
